<div class="row justify-content-md-center my-3">
    <div class="col-md-8 col-md-offset-2">
        <h3 style="margin-top:30px; margin-bottom: 10px;">目前分類：<b class="finalType"></b>
        </h3>
    </div>
</div>
<div class="row justify-content-md-center" style="overflow: auto;">
    <table id="dataTable" class="table-hover table table-bordered table-hover table-striped"
        style="width: 90%; margin: 0 auto !important;" data-link="row">
        <thead>
            <tr>
                <th scope="col">排名(最相關)</th>
                <th scope="col">帳號ID</th>
                <th scope="col">貼文圖片平均分數(<b class="finalType"></b>)</th>
                <th scope="col">貼文影片平均分數(<b class="finalType"></b>)</th>

                <th scope="col">追蹤人數</th>
                <th scope="col">平均按讚數</th>
                <th scope="col">平均留言數</th>
                <th scope="col">粉絲互動率</th>
                
            </tr>
        </thead>
        <tbody id="resultTable">
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row justify-content-md-center my-2">
    <div class="col-md-6">
        <h5><b>上次資料更新時間：2020年3月12日 23:59:59</b></h5>
    </div>
</div>